* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "DM Sans";
  src: url("./assets/fonts/DM_Sans/static/DMSans-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans";
  src: url("./assets/fonts/DM_Sans/static/DMSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "DM Sans";
  src: url("./assets/fonts/DM_Sans/static/DMSans-Italic-VariableFont_opsz,wght.ttf")
    format("truetype");
  font-style: italic;
}

body {
  font-family: "DM Sans", sans-serif;
  background: url(./assets/images/bg-dark-theme.png);
  color: #f2f2f7;
}

.container {
  max-width: 768px;
  margin: 0 auto;
  width: 90%;
}

header {
  padding: 1rem 0;
}

header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.theme-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2a2b37;
  border: none;
  border-radius: 8px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

main h1 {
  font-size: 2.5rem;
  text-align: center;
  margin: 2.5rem;
}

main textarea {
  background: #21222c;
  border: 1px solid #2a2b37;
  border-radius: 12px;
  resize: none;
  width: 100%;
  min-height: 200px;
  color: #e4e4ef;
  font-family: "DM Sans", sans-serif;
  line-height: 1.5;
  font-size: 1.4rem;
  padding: 1rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  margin: 0.75rem 0;
}

.checkbox-group p {
  font-size: 18px;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 0.65rem;
  font-size: 1.05rem;
  color: #e4e4ef;
  cursor: pointer;
}

.checkbox input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  width: 22px;
  height: 22px;
  border: 2px solid #8f90a6;
  border-radius: 6px;
  background: transparent;
  cursor: pointer;
}

.checkbox input[type="checkbox"]:checked {
  background: #c28bfa;
  border-color: #c28bfa;
}

.card {
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%;
  padding: 1.5rem;
  margin: 1.5rem 0;
  border-radius: 16px;
  color: #12131a;
}

section .container h1 {
  font-size: 2.5rem;
}

section .container h4 {
  font-size: 1.5rem;
  font-weight: 400;
}

section .container p {
  font-size: 1rem;
}

.total-characters {
  background-color: #d28aff;
  background-image: url("./assets/images/pattern-character-count.svg");
}

.word-count {
  background-color: #ff9f00;
  background-image: url("./assets/images/pattern-word-count.svg");
}

.sentence-count {
  background-color: #fe8159;
  background-image: url("./assets/images/pattern-sentence-count.svg");
}

.density p {
  padding: 2rem 0;
}

.limit-number {
  width: 60px;
  padding: 0.25rem 0;
  background: transparent;
  border: 1px solid #404254;
  border-radius: 4px;
  resize: none;
  color: #e4e4ef;
  font-family: "DM Sans", sans-serif;
  text-align: center;
  display: none;
}

@media (min-width: 769px) {
  .checkbox-group {
    display: flex;
    flex-direction: row;
  }

  .info .container{
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .info .card {
    flex: 1;
  }
}